/* App.css */

/* App.css */

/* General styles for the app */
body {
  background-color: #121212;
  color: #e0e0e0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Header styles */
.App h1 {
  color: #bb86fc;
  margin-bottom: 20px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input, button, select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
}

button {
  background-color: #bb86fc;
  color: #121212;
  cursor: pointer;
}

button.danger {
  background-color: #d42f2f;
  color: #121212;
  cursor: pointer;
}

button:hover {
  background-color: #929496;
}

/* Client list styles */
.client-list {
  margin: 20px 0;
}

.client-list ul {
  list-style-type: none;
  padding: 0;
}

.client-list li {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
}

.client-list li:hover {
  background-color: #600a68;
}

/* Client details styles */
.client-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.client-details h2 {
  margin-top: 0;
  color: #bb86fc;
  font-size: 1.5em;
}

.client-details p {
  margin: 10px 0;
  font-size: 1.1em;
}

.client-details ul {
  list-style-type: none;
  padding: 0;
}

.client-details li {
  padding: 15px;
  margin: 10px 0;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  font-size: 1.1em;
  position: relative;
}

.client-details li:hover {
  background-color: #383838;
}

.client-details button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.client-details button.danger {
  background-color: #df3535;
  color: #121212;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.client-details button.danger:hover {
  background-color: #949494;
}

.client-details button:hover {
  background-color: #a06eec;
}

/* Edit form styles */
.client-details form {
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.client-details input {
  border: 1px solid #444;
  background-color: #333;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.client-details input:focus {
  border-color: #bb86fc;
  outline: none;
}

.client-details button[type="submit"] {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.client-details button[type="submit"]:hover {
  background-color: #a06eec;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(48, 48, 48, 0.781);
  padding: 20px;
  border-radius: 8px;
  width: 65%;
  max-width: 80%;
}

button.close {
  float: right;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

